@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --font-primary: 'Lilita One';
  --color-white: #ffffff;
  --color-slate: #334155;
  --color-gray: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-white);
  background-color: var(--color-slate);
  font-family: var(--font-primary);
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}

.progress-animation {
  animation-name: goToLeft;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes goToLeft {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
